<header class="w-100 bg-danger ">
    <div class="container d-flex m-l-[80px] justify-content-between align-items-center p-3">
        
        <!-- <h1 class="logo fontsize_logo font_black font-weight-bold">My<span class="font_red">News</span></h1> -->
        <h1 class=" font-weight-bold" style="color: white; font-size: 50px;">MyNews</h1>
        <div class="d-flex align-items-center gap-[30px]">
            <p class="mb-0 me-2 mr-2 text-light">No, thanks</p>
            <button class="btn btn-light">GET</button>
        </div>
    </div>
</header>